<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="loremipsumvirtualenterprise.quest">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash -->
        <activity
            android:name=".account.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding -->
        <activity
            android:name=".account.OnboardingActivity"
            android:theme="@style/AppTheme"></activity>

        <!-- Main -->
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Login -->
        <activity
            android:name=".account.LoginActivity"
            android:label="@string/login_label"
            android:parentActivityName=".account.OnboardingActivity"
            android:screenOrientation="portrait" />

        <!-- Register -->
        <activity
            android:name=".account.RegisterActivity"
            android:label="@string/register_label"
            android:parentActivityName=".account.LoginActivity"
            android:screenOrientation="portrait" />

        <!-- Forgot Password -->
        <activity
            android:name=".account.ForgotPasswordActivity"
            android:label="@string/login_forgot_password"
            android:parentActivityName=".account.LoginActivity"
            android:screenOrientation="portrait" />

        <!-- Settings -->
        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Create Quest -->
        <activity
            android:name=".main.quest.CreateQuestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Search -->
        <activity
            android:name=".main.board.SearchActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />

        <!-- Quest Detail -->
        <activity
            android:name=".main.quest.QuestDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".generic.GenericWebViewActivity"></activity>
    </application>

</manifest>